<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let product of products; let j = index">
    <div class="card-header" id="headingOne" (click)="product.show = !product.show; loadDetails(product.id)" style="cursor: pointer">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          <h5>{{j + 1}} {{product.productName}}</h5>
        </button>
      </h5>
    </div>

    <div *ngIf="product.show" id="collapseOne" class="collapse show mx-2" aria-labelledby="headingOne"
         data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="text-align:center">Units</th>
            <th scope="col" style="text-align:center">Price (LKR)</th>
          </tr>
          </thead>
          <tbody>
          <ng-template [ngIf]="productPrice.get(product.id)">
            <tr *ngFor="let priceModel of productPrice.get(product.id).priceModel; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td style="text-align:center">{{priceModel.totalUnits}}</td>
              <td style="text-align:center">{{priceModel.price | number: '1.2-2'}}</td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
